// Base Extended (General styles which are not added 'base styles')
@import 'base-extended';

@import 'dark-layout';

@import 'rtl';

@import 'reactstrap/index';

@import 'app-loader';

@font-face {
  font-family: YekanBakh;
  src: url("./assets/fonts/YekanBakh-VF.ttf");
}

* {
  font-family: YekanBakh;
}
