<<<<<<< HEAD
@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

.hide-scrollbar {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
=======
@import '../node_modules/prismjs/themes/prism-tomorrow';
@import './assets/scss/app.scss';

@font-face {
  font-family: YekanBakh;
  src: url("./assets/fonts/YekanBakh-VF.ttf");
}

* {
  font-family: YekanBakh;
>>>>>>> feature/comments
}
